@model FootballCoachOnline.ViewModels.HomeViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Početna";
}

<h2>Football Coach Online</h2>
<hr/>
<div>
    <p>
        Dobrodošli na Football Coach Online, web aplikaciju za podršku procesima u nogometnom klubu.
    </p>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="details">
                    <h4 class=title>Moji timovi:</h4>
                    <ul>
                        @foreach (var team in Model.Teams)
                        {
                            <li><a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">@team.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="details">
                    <h4 class=title>Moja natjecanja:</h4>
                    <ul>
                        @foreach (var comp in Model.Competitions)
                        {
                            <li><a asp-controller="Competitions" asp-action="Details" asp-route-id="@comp.Id">@comp.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <p>
            Pogledajte <a asp-controller="Calendar">raspored</a> vaših utakmica i treninga.
        </p>
    }
    else
    {
        <p>
            <a asp-controller="Account" asp-action="Login">Prijavite se</a> kako biste mogli pregledavati stranice vašeg tima.<br/>
            Nemate račun? <a asp-controller="Account" asp-action="Register">Registrirajte se</a>.
        </p>
    }
</div>
