@model FootballCoachOnline.Models.Team

@{
    ViewData["Title"] = "Dodaj tim";
}

<h2>Dodaj tim</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Klub</label>
            <div class="col-md-10">
                <select asp-for="ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Trener</label>
            <div class="col-md-10">
                <select asp-for="CoachId" class ="form-control" asp-items="ViewBag.CoachId">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Natrag</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
