@model RegisterViewModel
@{
    ViewData["Title"] = "Registracija";
}

<head>
    <link rel="stylesheet" href="~/css/registration.css" />
</head>

<div class="row main">
    <div class="main-login main-center">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h2 class="text-center">Registracija</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="cols-sm-2 control-label">Korisničko ime</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                        <input asp-for="Username" class="form-control" placeholder="Unesite korisničko ime" />
                    </div>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">E-mail adresa</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                        <input asp-for="Email" class="form-control" placeholder="Unesite Vašu e-mail adresu" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Lozinka</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                        <input asp-for="Password" class="form-control" placeholder="Unesite željenu lozinku" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Ponovljena lozinka</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Potvrdite lozinku" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Registrirajte se</button>
            </div>
            <div class="login-register">
                <a asp-action="Login">Imate korisnički račun? Prijavite se</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
